@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Rubik:wght@300&display=swap');

/* Boiler Plate */
:root {
    --mobile-width: 20.833rem;
    --desktop-width: 80rem;

    --color-very-dark-grey: hsl(0, 0%, 17%);
    --color--dark-grey: hsl(0, 0%, 59%);

    --font-rubik: 'Rubik', sans-serif;
    --font-wwight-bold: 400;
    --font-wwight-bolder: 500;
    --font-wwight-boldest: 700;
}

html{
    font-size: 18px;
    font-family: var(--font-rubik);
}

body{
    background-image: url("./images/pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

@media(min-width: 376px) {
    body{
        background-image: url("./images/pattern-bg-desktop.png");
    }
}
